
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Helper function to check if the user is a super admin.
    function isSuperAdmin() {
      return request.auth != null && request.auth.token.email in ['kavinvnayakam@gmail.com', 'media@shreevarma.org'];
    }

    // Helper function to check if the user is a healthcare admin.
    function isHealthcareAdmin() {
      return request.auth != null && request.auth.token.email in ['healthcare@shreevarma.org'];
    }

    // Allow public read access to all files.
    // Allow authenticated admins to write to any file.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isSuperAdmin() || isHealthcareAdmin();
    }
  }
}
