
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isSuperAdmin() {
        return isSignedIn() && request.auth.token.email in ['kavinvnayakam@gmail.com', 'media@shreevarma.org'];
    }

    function isHealthcareAdmin() {
        return isSignedIn() && request.auth.token.email in ['healthcare@shreevarma.org'];
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isSuperAdmin();

      match /reviews/{reviewId} {
        allow read: if true;
        allow create: if isSignedIn();
        allow update, delete: if false; 
      }
    }

    match /users/{userId} {
      allow read, update, delete: if isOwner(userId) || isSuperAdmin();
      allow create: if isOwner(userId);
      allow list: if isSuperAdmin();

      match /orders/{orderId} {
        allow read, write: if isOwner(userId) || isSuperAdmin() || isHealthcareAdmin();
      }
    }
    
    match /consultations/{consultationId} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      
      // Allows Patient or Doctor to read if their UID is in the root fields
      allow read: if isSuperAdmin() || isHealthcareAdmin() || (
          isSignedIn() && (
              resource.data.userId == request.auth.uid || 
              resource.data.doctorId == request.auth.uid
          )
      );

      allow list, update: if isSuperAdmin() || isHealthcareAdmin() || (
          isSignedIn() && resource.data.doctorId == request.auth.uid
      );

      allow delete: if isSuperAdmin();
    }
    
    // This allows admins to list all orders across all users.
    match /{path=**}/orders/{orderId} {
      allow list: if isSuperAdmin() || isHealthcareAdmin();
    }
    
    match /doctors/{doctorId} {
      allow read: if true;
      allow write: if isSuperAdmin();
    }

    match /practitioners/{practitionerId} {
      allow read: if true;
      allow write: if isSuperAdmin();
    }
    
    match /roles_admin/{userId} {
        allow read: if isSuperAdmin();
        allow write: if isSuperAdmin();
    }

    match /mail/{mailId} {
      allow create: if isSignedIn();
      allow read, update, delete: if false;
    }

    match /counters/{counterId} {
        allow read, write: if isSuperAdmin();
    }

    // Allow authenticated users to call the getTwilioVideoToken function
    match /functions/getTwilioVideoToken {
        allow call: if isSignedIn();
    }
  }
}

    